:javascript
	$(document).ready(function(){
		$("#main_header").html("#{@verse.link}")
	});
#verse_text{:style => "padding:5%;", align: "center"}
	=@verse_text.content
	
%h3
	new note:
= form_for @note do |f|
	= f.label :name
	%br
	= f.text_field :name
	%br
	= f.label :content
	%br
	= f.text_area :content
	%br
	= f.hidden_field :verse_id, :value => @verse.id
	/the 1 here is just a stand-in for session-based code if not authenticated
	= f.hidden_field :user_id, :value => -> {signed_in? ? current_user.id : 1 }.call
	= f.submit
	%br