:javascript
	$(document).ready(function(){
		$("#main_header").html("#{@book.link}");
		$("#book").accordion();
		bindLayoutButtons({"view" : "book"});
	});
	
%title
	Tent of Meeting -
	= @book.name.to_s
	
#book
	- @chapters.each do |chapter|
		%h3{:style => "padding-left:10%", onClick: "setCurrChapter('#{chapter.id}')"}
			= link_to chapter.name, "/"+@book.name.to_s+"/"+chapter.name.to_s
		%div{:class => "accordion_row", onclick: "location.href='#{chapter.path}'"}
			= chapter.text