- @search_results[:verses].each do |result|
	- verse = result.verse
	- chapter = verse.chapter
	- book = chapter.book
	%tr{:class => "bible_verse_row", onClick: "location.href='#{verse.path}'"}
		%td{:valign => "top", :align => "left", :width => "32%"}
			= link_to book.name, "/"+book.name
			= link_to chapter.name, "/"+book.name+"/"+chapter.name.to_s
			\:
			= link_to verse.name, "/"+book.name+"/"+chapter.name.to_s+"/"+verse.name.to_s
		%td	
			= highlight(result.content,@query)