%title
	Tent of Meeting -
	= @book.name.to_s
	= @chapter.name.to_s + "\:"+@verse.name.to_s
#books{:align => "left", :style => "padding-left:25%"}
	=link_to "<<<", books_index_path	
%h1
	= link_to @book.name.to_s, "/"+@book.name
	= link_to @chapter.name.to_s + "\:", "/"+@book.name+"/"+@chapter.name.to_s
	= link_to @verse.name, "/"+@book.name+"/"+@chapter.name.to_s+"/"+@verse.name.to_s
	=  -> {return  @verse.has_quiz? ?  link_to("*", "/"+@book.name+"/"+@chapter.name.to_s+"/"+@verse.name.to_s+"/quiz") : ""}.call
%p{:style => "width:50%;"}
	=@verse_text.content