- audio_url = chapter_audio_url(@book.id.to_s,@book.name,@chapter.name.to_s)
:javascript
	var audio_html = '<object type="application/x-shockwave-flash" data="http://flash-mp3-player.net/medias/player_mp3_maxi.swf" width="200" height="20"> <param name="movie" value="player_mp3_maxi.swf" /> <param name="FlashVars" value="mp3=#{audio_url}&&showvolume=1&&showslider=1"/> <param name = "bgcolor" value = "ffffff"/> </object>';
	$(document).ready(function(){
		$("#main_header").html("#{@chapter.link}");
		// bindLayoutButtons({"audio" : "chapter", "view" : "chapter"})
		$("#audio").html(audio_html);
		$("#audio").show();
	});
	

	
%title
	Tent of Meeting -
	= @book.name.to_s
	= @chapter.name.to_s
	
%table
	- @verses.each do |verse|
		%tr{:class => "bible_verse_row", onclick: "location.href='#{verse.path}'", onMouseOver: "setCurrVerse('#{verse.id}')"}
			%td{:style => "padding-left:10%"}
				%a{name: verse.name, href: "/"+@book.name.to_s+"/"+@chapter.name.to_s+"/"+verse.name.to_s}
					= verse.name 
			%td{:style => "padding-left:15%;padding-right:5%;"}
				= VerseText.find(verse.id).content