%title
	Tent of Meeting -
	Profile
	
%h1
	= user = -> {return  current_user != nil ? current_user.name : "Profile"}.call
	- if signed_in?
		- @user = current_user
		= form_tag controller: :profile, action: :update, method: :post
		= file_field_tag :image
		= submit_tag

%p
	Edit user information here.
	= link_to "[done]", profile_path