%title
	Tent of Meeting -
	Profile
%h1
	= user_email = -> {return  current_user != nil ? current_user.email : "Anonymous User"}.call
%p
	Old Testament Language:
	= @user[:ot_lg]
	%br
	New Testament Language:
	= @user[:nt_lg]
	%br
	= link_to "[edit]", settings_path
	
#favorite_verses
	- if signed_in? then
		Favorite Verses:
		%p
			- current_user.favorite_verses.each do |verse|
				- chapter = verse.chapter
				- book = chapter.book
				%p
					= verse.link
					
#notes
	- if signed_in? then
		Notes:
		%table
			- current_user.notes.each do |note|
				- verse = note.verse
				- chapter = verse.chapter
				- book = chapter.book
				%tr
					%td
						= verse.link
					%td
						%b
							= link_to note.name, :controller => :notes, :action => :show, :id => note.id, :verse_id => verse.id
					%td
						= note.content
						
