%title
	Tent of Meeting -
	Profile
%h1
	= user_email = -> {return  current_user != nil ? current_user.email : "Anonymous User"}.call
%p
	Old Testament Language:
	= @user[:ot_lg]
	%br
	New Testament Language:
	= @user[:nt_lg]
	%br
	= link_to "[edit]", settings_path
	
%p
	- if signed_in? then
		Favorite Verses:
		%p
			- current_user.favorite_verses.each do |verse|
				- chapter = verse.chapter
				- book = chapter.book
				%p
					= verse.link