:javascript
	$(document).ready(function(){
		$("#favorite_verses").accordion();
	});
%title
	Tent of Meeting -
	Profile
%h1
	= user_email = -> {return  current_user != nil ? current_user.email : "Anonymous User"}.call
%p
	Old Testament Language:
	= @user[:ot_lg]
	%br
	New Testament Language:
	= @user[:nt_lg]
	%br
	= link_to "[edit]", settings_path

%h2
	%img{src: "http://cbarr.dyndns.org/icons/32x32/heart.png"}
	Favorite Verses	
#favorite_verses
	- if signed_in? then
		- current_user.favorite_verses.each do |verse|
			- chapter = verse.chapter
			- book = chapter.book
			%h3
				= link_to book.name + " " + chapter.name.to_s + ":" + verse.name.to_s, "/" + book.name.to_s + "/" + chapter.name.to_s + "/" + verse.name.to_s
			%div{onclick: "location.href='#{verse.path}'"}
				/so many bad things here it's not even funny
				= VerseText.find(verse.id).content
				
%h2
	%img{src: "http://cbarr.dyndns.org/icons/32x32/pencil.png"}
	Notes
#notes
	- if signed_in? then
		%table
			- current_user.notes.each do |note|
				- verse = note.verse
				- chapter = verse.chapter
				- book = chapter.book
				%tr
					%td
						= verse.link
					%td
						%b
							= link_to note.name, :controller => :notes, :action => :show, :id => note.id, :verse_id => verse.id
					%td
						= note.content
						
