!!!
%html
	%head
		/ %title Tent of Meeting 
		= javascript_include_tag 'application'
		= csrf_meta_tag
		%meta{:charset => "UTF-8"}
			= stylesheet_link_tag 'stylesheet'
			= stylesheet_link_tag 'jqueryui'
	#flash.flash{:align => "right"}
		/@TODO restyle flash, translucent, etc
		- flash.each do |type, message|
			%div{:class => "message #{type}"}
				%p= message
	%body{ background: "http://cbarr.dyndns.org/mountains.jpg" }
		%br
		#containercontainer{align: "center"}
			.container
				%header
					= render "header"
					%nav
						= render "user_nav"
				= render "sidebar"
				%article.content{align: "center" }
					.backdrop
						= render "stage"
				%aside
					.chat{style: "height:355px;"}
						= render "chat_sidebar"
				%footer{align: "center"}
					= render "footer"