%html
	%head
		/ %title Tent of Meeting 
		= javascript_include_tag 'application'
		= csrf_meta_tag
	%body
		#container
			#header
				%h1
					/ %a{:href => "/"} =Tent of Meeting
				#user-navigation{:align => "center"}
					[
					= link_to "Profile", profile_path
					= link_to "Settings", settings_path
					= if user_signed_in? then link_to "Logout", destroy_user_session_path, :method => :delete else link_to "Sign in", new_user_session_path, :method => :get end
					]
					#search-field{:align => "right", :style => "padding-right:25%"}
						= form_tag :controller => :verses, :action => :search, :method => :get do
							=search_field_tag(:query, value="", :id => 'search_box')
							= submit_tag nil, :hidden => true
				#main-navigation
					%ul.wat-cf
			#wrapper.wat-cf
				.flash{:align => "center"}
					- flash.each do |type, message|
						%div{:class => "message #{type}"}
							%p= message
				#main{:align => "center"}
					= yield
					#footer
						.block
							%p
								[
								=link_to "<<<",prev_book_path
								|
								=link_to "<<",prev_chapter_path
								|
								=link_to "<",prev_verse_path
								|
								=link_to "*",random_verse_path
								|
								=link_to ">",next_verse_path
								|
								=link_to ">>",next_chapter_path
								|
								=link_to ">>>",next_book_path
								]
				#sidebar
					= yield :sidebar
