!!!
%html
	%head
		/ %title Tent of Meeting 
		= javascript_include_tag 'application'
		= javascript_include_tag "http://localhost:9292/faye.js"
		= csrf_meta_tag
		%meta{:charset => "UTF-8"}
			= stylesheet_link_tag "http://localhost/tent_of_meeting.css"
	%body
		.container
			%header
				%a{:href => "#"}
					%img#Insert_logo{:alt => "Insert Logo Here", :height => "90", :src => "", :style => "background: #C6D580; display:block;", :width => "180"}/
				%h1
					/ %a{:href => "/"} =Tent of Meeting	
				#user-navigation{:align => "center"}
					[
					= link_to "Profile", profile_path
					= link_to "Settings", settings_path
					= if user_signed_in? then link_to "Logout", destroy_user_session_path, :method => :delete else link_to "Sign in", new_user_session_path, :method => :get end
					]					
			.sidebar1
				%nav
					%ul
						%li
							%a{:href => "#"} Link one
						%li
							%a{:href => "#"} Link two
						%li
							%a{:href => "#"} Link three
						%li
							%a{:href => "#"} Link four
				%aside
					%p lorem ipsum
				/ end .sidebar1
			%article.content{align: "center" }
				= yield
				%br
			%aside{style: "height:300px; overflow:scroll"}
				= render_cell :chat , :show
			%footer{ align: "center"}
				.block
					%p
						[
						=link_to "<<<",prev_book_path
						|
						=link_to "<<",prev_chapter_path
						|
						=link_to "<",prev_verse_path
						|
						=link_to "*",random_verse_path
						|
						=link_to ">",next_verse_path
						|
						=link_to ">>",next_chapter_path
						|
						=link_to ">>>",next_book_path
						]
			#flash
				.flash{:align => "center", :style => "min-height:20px"}
					- flash.each do |type, message|
						%div{:class => "message #{type}"}
							%p= message